@tailwind base;
@tailwind components;
@tailwind utilities;
.hero {
  /* background: radial-gradient(circle at center, #0d0f2b 20%, #060714 100%); */
  background: radial-gradient(#0d0f2b 20%, #060714 100%);
}
.her {
  background-image: url("/assets/circles-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
input {
  &:focus {
    outline: 1px solid transparent;
  }
}
